# Extra exercises

1. Importing the files

In [1]:
tab1 <- read.table("table1.txt")
tab2 <- read.table("table2.txt")
tab3 <- read.table("table3.txt")
tab4 <- read.csv("table4.csv")

Showing and analysing the files

In [2]:
tab1
summary(tab1)

tab2
summary(tab2)

tab3
summary(tab3)

tab4
summary(tab4)

  V1   V2
1 53.5 160
2 74.4 172
3 52.6 151
4 88.6 163
5 49.2 169

       V1              V2
 Min.   :49.20   Min.   :151
 1st Qu.:52.60   1st Qu.:160
 Median :53.50   Median :163
 Mean   :63.66   Mean   :163
 3rd Qu.:74.40   3rd Qu.:169
 Max.   :88.60   Max.   :172

  V1        V2
1 variable1 variable2
2 53.5      160
3 74.4      172
4 52.6      151
5 88.6      163
6 49.2      169

      V1                 V2
 Length:6           Length:6
 Class :character   Class :character
 Mode  :character   Mode  :character

  V1   V2
1 53,5 160
2 74,4 172
3 52,6 151
4 88,6 163
5 49,2 169

      V1                  V2
 Length:5           Min.   :151
 Class :character   1st Qu.:160
 Mode  :character   Median :163
                    Mean   :163
                    3rd Qu.:169
                    Max.   :172

   D  size
1  12 50
2  15 50
3   8 50
4  10 50
5   4 50
6   7 50
7  16 50
8   9 50
9  14 50
10 10 50
11  5 50
12  6 50
13 17 50
14 12 50
15 22 50
16  8 50
17 10 50
18  5 50
19 13 50
20 11 50
21 20 50
22 18 50
23 24 50
24 15 50
25  9 50
26 12 50
27  7 50
28 13 50
29  9 50
30  6 50

       D              size
 Min.   : 4.00   Min.   :50
 1st Qu.: 8.00   1st Qu.:50
 Median :10.50   Median :50
 Mean   :11.57   Mean   :50
 3rd Qu.:14.75   3rd Qu.:50
 Max.   :24.00   Max.   :50